<main>
  <section class="account">
    <div>
      <div class="user">Name</div>
      <div class="name"><%= user.first_name%> <%= user.last_name%></div>
    </div>
    <div>
      <div class="user">Email</div>
      <div class="email"><%= user.email %></div>
    </div>
    <div><%- include('../auth/logout.ejs')%></div>
  </section>
</main>

<script></script>
