<section>
  <section>
    <h1><%- faq.title %></h1>
    <div><%- faq.description %></div>
    <div><%- faq.content %></div>
  </section>
  <% if (related.length > 0) { %>
  <section>
    <h2>Related</h2>
  </section>
  <%} else {%><%}%>
</section>
