<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.png" type="image/png" />
    <% if (!title) {%>
    <title>Day Finance</title>

    <% } else {%>

    <title><%= title %> &bull; Day Finance</title>
    <% } %>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <%- include('./partials/header.ejs') %> <%- body %> <%-
    include('./partials/footer.ejs') %>
  </body>
  <script type="module" src="/js/scripts.js"></script>
</html>
