.account {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;

  div {
    display: flex;
    gap: 0.4rem;
    background-color: white;
    padding: 1rem;

    .user {
      font-weight: 600;
    }

    .name {
      font-weight: 500;
    }

    .email {
      font-weight: 500;
    }
  }
}

.jsLogout {
  padding: 0.3rem 0.6rem;
  border-radius: 0.4rem;
  border: none;
  background-color: darkred;
  color: white;

  &:hover {
    cursor: pointer;
    background-color: rgba(139, 0, 0, 0.705);
  }
}
