.faqsSection {
  flex: 1;
  display: flex;
  flex-direction: column;

  .faqHeac {
    flex: 1;
    display: grid;
    grid-template-columns: max-content 1fr 1fr max-content max-content;
    gap: 1rem;
  }

  .faqBody {
    flex: 1;
    display: grid;
    grid-template-columns: max-content 1fr 1fr max-content max-content;
    gap: 1rem;
  }
}
