.faqsArea {
  display: flex;

  .listFaqs {
    flex: 1;
    padding: 0.4rem;

    h1 {
      text-align: center;
    }
    .faqsList {
      padding-top: 0.4rem;
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      div {
        display: grid;
        grid-template-columns: 200px 1fr;
        gap: 1rem;
        padding: 1rem;
        background-color: white;
        border-radius: 0.4rem;

        .faq_title {
          font-size: 1.2rem;
          font-weight: bold;
          color: black;
        }

        .faq_description {
          font-size: small;
          color: gray;
        }

        a {
          text-decoration: none;

          overflow: hidden;
          width: max-content;
          position: relative;

          img {
            width: 200px;

            height: auto;
            object-fit: cover;
            border-radius: 0.4rem;
          }

          .category {
            padding: 0.4rem;
            text-decoration: none;
            color: black;
            background-color: whitesmoke;
            position: absolute;
            bottom: 1rem;
            left: 0.2rem;
            border-radius: 1000px;
            background-color: yellow;
          }
        }

        div {
          display: flex;
          flex-direction: column;
          padding: 0.4rem 0;

          div {
            flex: 1;
          }

          .readMore {
            width: max-content;
            padding: 0.2rem 0.4rem;
            height: inherit;
            color: white;
            text-decoration: none;
            border-radius: 0.4rem;
            border: none;
            color: white;
            background-color: black;

            &:hover {
              color: black;
              background-color: whitesmoke;
            }
          }
        }
      }
    }
  }

  .faqsSidebar {
    flex: 0.3;
    top: 0;

    .sidebar {
      padding: 0.4rem;
      position: sticky;
      top: 0;
    }
  }
}
