<footer>
  <div class="">
    <p>Copyright &copy; | All Rights Reserved</p>
  </div>
  <div class="">
    <a href="/privacy"> Privacy Policy </a>
    <a href="/contact"> Contact </a>
    <a href="/about"> About </a>
  </div>
</footer>
