<main>
  <section class="admin">
    <%- include('./partials/title.ejs') %>
    <section class="main">
      <%- include('./partials/sidebar.ejs') %>
      <div class="container">This is the container</div>
    </section>
  </section>
</main>

<script></script>
