<button class="jsLogout">Logout</button>

<script>
  const logoutButton = document.querySelector(".jsLogout");
  logoutButton.addEventListener("click", () => {
    logout();
  });
  function logout() {
    fetch("/logout", { method: "POST" }).then(() => {
      window.location.reload();
    });
  }
</script>
